In [1]:
import pandas as pd 

file_path = 'C:/Users/mehrp/OneDrive/Documents/GitHub/Data_Mining_Project_Fall23/NBA_Data.xlsx'
nba_data = pd.read_excel(file_path)

In [2]:
nba_data.head()

,Player,Name,Position,Age,Height,Weight,Salary,Season,Postseason,Team,...,FT_attempted,FT_percent,Rebound_off,Rebound_def,Assists,Blocks,Steals,Fouls,Turnovers,Points
0,25,Metta World Peace,SF,36,79,260,947276.0,'99-'00,False,CHI,...,3.9,0.674,0.9,3.4,2.8,0.5,1.7,2.2,2.3,12.0
1,25,Metta World Peace,SF,36,79,260,947276.0,'00-'01,False,CHI,...,3.7,0.750,0.8,3.1,3.0,0.6,2.0,3.3,2.1,11.9
2,25,Metta World Peace,SF,36,79,260,947276.0,'01-'02,False,CHI,...,4.8,0.628,1.5,3.4,2.9,0.9,2.8,4.0,2.6,15.6
3,25,Metta World Peace,SF,36,79,260,947276.0,'01-'02,False,IND,...,2.7,0.733,1.2,3.8,1.8,0.6,2.4,3.9,1.8,10.9
4,25,Metta World Peace,SF,36,79,260,947276.0,'02-'03,False,IND,...,5.4,0.736,1.5,3.8,2.9,0.7,2.3,3.5,2.1,15.5

In [6]:
# Check for missing values in relevant columns
missing_values = nba_data[['Points', 'Salary', 'Season']].isnull().sum()
missing_values

Points    117
Salary    115
Season      0
dtype: int64

In [12]:
# Displaying the column names to identify the correct columns for games played
nba_data.columns.tolist()

['Player',
 'Name',
 'Position',
 'Age',
 'Height',
 'Weight',
 'Salary',
 'Season',
 'Postseason',
 'Team',
 'Games_played',
 'Games_started',
 'Minutes',
 'FG_made',
 'FG_attempted',
 'FG_percent',
 '3P_made',
 '3P_attempted',
 '3P_percent',
 'FT_made',
 'FT_attempted',
 'FT_percent',
 'Rebound_off',
 'Rebound_def',
 'Assists',
 'Blocks',
 'Steals',
 'Fouls',
 'Turnovers',
 'Points']

In [13]:
# Calculate total regular season points (average points * games played)
cleaned_nba_2015_2016['Total_RegSeason_Points'] = cleaned_nba_2015_2016['Points'] * cleaned_nba_2015_2016['Games_played']

# Group by player and sum total regular season points, and calculate average salary
grouped_stats_reg_season = cleaned_nba_2015_2016.groupby('Name').agg({'Total_RegSeason_Points': 'sum', 'Salary': 'mean'}).reset_index()

# Calculate Dollar per point scored for regular season
grouped_stats_reg_season['Dollar_per_point'] = grouped_stats_reg_season['Salary'] / grouped_stats_reg_season['Total_RegSeason_Points']

# Display the resulting DataFrame
grouped_stats_reg_season.head()

C:\Users\mehrp\AppData\Local\Temp\ipykernel_9620\1776707329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_nba_2015_2016['Total_RegSeason_Points'] = cleaned_nba_2015_2016['Points'] * cleaned_nba_2015_2016['Games_played']

             Name  Total_RegSeason_Points      Salary  Dollar_per_point
0    Aaron Brooks                   489.9   2250000.0       4592.774036
1    Aaron Gordon                   717.6   4171680.0       5813.377926
2  Aaron Harrison                    18.9    525093.0      27782.698413
3   Adreian Payne                   130.0   1938840.0      14914.153846
4      Al Horford                  1380.4  12000000.0       8693.132425